Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

php-cbf (admin):
  name: php-cbf (admin)
  language: system
  entry: make dc-phpcs-fix-admin

php-cbf (api):
  name: php-cbf (api)
  language: system
  entry: make dc-phpcs-fix-api

php-cbf (front):
  name: php-cbf (front)
  language: system
  entry: make dc-phpcs-fix-front

php-cbf (php):
  name: php-cbf (php)
  language: system
  entry: make dc-phpcs-fix-php

Fix channel of tracking message in Slack
  .github/workflows/workflow_path_to_live.yml
Due: none

replace deprecated class in service-admin
  service-admin/composer.json
  service-admin/composer.lock
  service-admin/src/App/src/Validator/Csrf.php
Due: php-cbf (admin)

replace deprecated class
  service-front/module/Application/src/Form/Validator/Csrf.php
Due: php-cbf (front)

WIP fixes
  service-admin/src/App/src/Validator/Csrf.php
Due: php-cbf (admin)

use non-root ports
  docker-compose.yml
Due: none

fix shared path
  .idea/php.xml
Due: none

fix test paths
  .idea/php.xml
Due: none

updates
  .idea/phpunit.xml
  docker-compose.yml
Due: none

update docs with numbering
  docs/runbooks/aws_aurora/database_restore_procedure.md
Due: none

define database name as a variable
  terraform/environment/modules/environment/rds.tf
  terraform/environment/modules/environment/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

add runbook for restore procedure
  docs/runbooks/aws_aurora/database_restore_procedure.md
Due: none

number steps
  docs/runbooks/aws_aurora/database_restore_procedure.md
Due: none

hardocde the name of the database inside the cluster because it cannot be changed for existing environments
  terraform/environment/.envrc
  terraform/environment/.terraform.lock.hcl
  terraform/environment/modules/environment/modules/aurora/main.tf
  terraform/environment/modules/environment/modules/aurora/variables.tf
  terraform/environment/modules/environment/rds.tf
  terraform/environment/modules/environment/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Due: none

don't build aws backup resources by default
  terraform/environment/terraform.tfvars.json
Due: none

update names
  docs/runbooks/aws_aurora/database_restore_procedure.md
Due: none

Remove infra for receiving emails
  .gitignore
  .secrets.baseline
  README.md
  cypress/activation_emails/README.md
  docker-compose.yml
  service-front/module/Application/tests/Model/Service/Mail/Transport/MailTransportFactoryTest.php
  terraform/email/.envrc
  terraform/email/.terraform-version
  terraform/email/.terraform.lock.hcl
  terraform/email/credentials.tf
  terraform/email/email.tf
  terraform/email/locals.tf
  terraform/email/terraform.tfvars.json
  terraform/email/versions.tf
  terraform/environment/modules/environment/ecs_front.tf
Due: php-cbf (front)

Path conditions:
  php-cbf (admin): any of: ^service-admin\/.+\.(php)$
  php-cbf (api): any of: ^service-api\/.+\.(php)$
  php-cbf (front): any of: ^service-front\/.+\.(php)$
  php-cbf (php): any of: ^service-php\/.+\.(php)$
