Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*/package-lock.json"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
    - name: php-cbf (admin)
      id: php-cbf (admin)
      language: system
      entry: make dc-phpcs-fix-admin
      files: ^service-admin\/.+\.(php)$
    - name: php-cbf (api)
      id: php-cbf (api)
      language: system
      entry: make dc-phpcs-fix-api
      files: ^service-api\/.+\.(php)$
    - name: php-cbf (front)
      id: php-cbf (front)
      language: system
      entry: make dc-phpcs-fix-front
      files: ^service-front\/.+\.(php)$
    - name: php-cbf (php)
      id: php-cbf (php)
      language: system
      entry: make dc-phpcs-fix-php
      files: ^service-php\/.+\.(php)$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.36.0
    hooks:
    - id: eslint
      files: service-front/assets/js|cypress/e2e/common
      additional_dependencies:
      -   eslint@8.24.0
      -   eslint-plugin-prettier@v4.2.1
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.32.7
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-imports # replaces go-fmt
      - id: go-mod-tidy

turn off proxy
  terraform/environment/modules/environment/modules/rds_proxy/main.tf
  terraform/environment/terraform.tfvars.json
Due: none

Update .nvmrc and tool versions files
  .nvmrc
  service-front/.tool-versions
Due: none

Node point and alpine version bump
  .nvmrc
  .tool-versions
  node-build-assets/docker/Dockerfile
  service-front/.tool-versions
Due: none

use new object for backup retention period
  terraform/environment/main.tf
Due: none

the port isn't conditional
  terraform/environment/modules/environment/secrets.tf
Due: none

Fix/suppress remaining Psalm errors
  service-api/module/Application/src/Model/Service/Seed/Service.php
  service-api/psalm.xml
Due: php-cbf (api)

Fix InvalidOperand errors
  service-api/module/Application/src/Command/LockCommand.php
  service-api/module/Application/src/Library/MillisecondDateTime.php
  service-api/module/Application/src/Model/Service/System/Stats.php
Due: php-cbf (api)

Use CMD for starting API container
  service-api/docker/app/Dockerfile
Due: none

move failed prod deployment notifications to the dev channel
  .github/workflows/workflow_path_to_live.yml
Due: none

Don't ensure override attributes with Psalm
  shared/psalm.xml
Due: none

LPAL-1603 Fix eslint setup
  package-lock.json
  package.json
  service-front/assets/.eslintrc.json
Due: none

LPAL-1307 Remove remaining extensions of laminas-form final classes
  service-front/module/Application/config/module.config.php
  service-front/module/Application/src/Form/View/Helper/FormRadio.php
  service-front/module/Application/src/View/Helper/FormElementErrorsFactory.php
  service-front/module/Application/src/View/Helper/FormElementErrorsV2.php
Due: php-cbf (front)

Add strict_types
  service-front/module/Application/src/View/Helper/FormElementErrorsFactory.php
Due: php-cbf (front)

simplify cypress email activation step
  cypress/e2e/common/activation_email.js
  service-api/module/Application/src/Model/Service/Users/Service.php
Due: php-cbf (api)

use localstack init script to initialise, remove local-config
  .secrets.baseline
  Makefile
  cypress/e2e/common/activation_email.js
  docker-compose.yml
  docs/runbooks/data_flows.md
  local-config/Dockerfile
  local-config/start.sh
  localstack/localstack-init.sh
  service-api/module/Application/src/Model/Service/Users/Service.php
Due: php-cbf (api)

LPAL-1453 backfilling cypress tests for new frontend radio btns
  cypress/e2e/AttorneysHW.feature
  cypress/e2e/AttorneysPF.feature
  cypress/e2e/WhoAreYouHW.feature
  cypress/e2e/WhoAreYouPF.feature
Due: none

LPAL-1339 removed tuupola packages
  service-admin/composer.json
  service-admin/composer.lock
  service-admin/config/pipeline.php
  service-admin/src/App/src/ConfigProvider.php
  service-admin/src/App/src/Middleware/Session/JwtAuthenticationFactory.php
  service-admin/src/App/src/Middleware/Session/JwtMiddleware.php
Due: php-cbf (admin)

phpunit.yml doesn't require secrets
  .github/workflows/workflow_pr.yml
Due: none

specify secrets for docker job
  .github/workflows/docker_job.yml
  .github/workflows/workflow_pr.yml
Due: none

specify secrets for all remaining jobs on pr workflow
  .github/workflows/workflow_pr.yml
Due: none

specify secrets for integration workflow
  .github/workflows/workflow_merge_queue.yml
Due: none

specify secrets for path to live workflow
  .github/workflows/workflow_path_to_live.yml
Due: none
