Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*/package-lock.json"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
    - name: php-cbf (admin)
      id: php-cbf (admin)
      language: system
      entry: make dc-phpcs-fix-admin
      files: ^service-admin\/.+\.(php)$
    - name: php-cbf (api)
      id: php-cbf (api)
      language: system
      entry: make dc-phpcs-fix-api
      files: ^service-api\/.+\.(php)$
    - name: php-cbf (front)
      id: php-cbf (front)
      language: system
      entry: make dc-phpcs-fix-front
      files: ^service-front\/.+\.(php)$
    - name: php-cbf (php)
      id: php-cbf (php)
      language: system
      entry: make dc-phpcs-fix-php
      files: ^service-php\/.+\.(php)$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.36.0
    hooks:
    - id: eslint
      files: service-front/assets/js|cypress/e2e/common
      additional_dependencies:
      -   eslint@8.24.0
      -   eslint-plugin-prettier@v4.2.1
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.32.7
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-imports # replaces go-fmt
      - id: go-mod-tidy

add security groups for rds proxy
  terraform/environment/modules/environment/rds.tf
  terraform/environment/modules/environment/rds_proxy.tf
Due: none

add in removed role policy that was removed by mistake
  terraform/environment/modules/environment/rds_proxy.tf
Due: none

Simplify configuration to a shared image
  .github/workflows/analysis-phpcs.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  docker-compose.yml
  phpcs.xml.dist
  phpcs/docker/Dockerfile
  service-admin/bin/clear-config-cache.php
  service-admin/composer.json
  service-admin/composer.lock
  service-admin/phpcs.xml.dist
  service-api/composer.json
  service-api/composer.lock
  service-api/db/seeds/ApplicationsSeeder.php
  service-api/db/seeds/UsersSeeder.php
  service-api/phinx.php
  service-api/phpcs.xml.dist
  service-front/composer.json
  service-front/composer.lock
  service-front/phpcs.xml.dist
  service-pdf/bin/sqs.php
  service-pdf/composer.json
  service-pdf/composer.lock
Due: php-cbf (admin), php-cbf (api)

removed EmailAddress dependency in email
  service-admin/src/App/src/Validator/Email.php
Due: php-cbf (admin)

Add PHPCS coverage to shared directory
  phpcs.xml.dist
  shared/module/MakeShared/src/Constants.php
  shared/module/MakeShared/src/DataModel/Common/Address.php
  shared/module/MakeShared/src/DataModel/Common/Dob.php
  shared/module/MakeShared/src/DataModel/Common/LongName.php
  shared/module/MakeShared/src/DataModel/Common/Name.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Attorneys/TrustCorporation.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Correspondence.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Decisions/AbstractDecisions.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Decisions/PrimaryAttorneyDecisions.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Decisions/ReplacementAttorneyDecisions.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Document.php
  shared/module/MakeShared/src/DataModel/Lpa/Document/Donor.php
  shared/module/MakeShared/src/DataModel/Lpa/Formatter.php
  shared/module/MakeShared/src/DataModel/Lpa/Lpa.php
  shared/module/MakeShared/src/DataModel/Lpa/Payment/Payment.php
  shared/module/MakeShared/src/Factories/ListenerAbstractFactory.php
  shared/module/MakeShared/src/Logging/LoggerFactory.php
  shared/module/MakeShared/src/Psalm/SensitiveParameterAnnotation.php
  shared/module/MakeShared/src/Psalm/SensitiveParameterAnnotationHook.php
  shared/module/MakeShared/src/Telemetry/Exporter/ExporterFactory.php
  shared/module/MakeShared/src/Telemetry/Exporter/LogExporter.php
  shared/module/MakeShared/src/Telemetry/Exporter/XrayExporter.php
  shared/module/MakeShared/src/Telemetry/Tracer.php
  shared/module/MakeShared/tests/DataModel/Common/AddressTest.php
  shared/module/MakeShared/tests/DataModel/Lpa/Payment/CalculatorTest.php
  shared/module/MakeShared/tests/DataModel/TestHelper.php
  shared/module/MakeShared/tests/Telemetry/ModuleTest.php
  shared/preload.php
  shared/src/functions/make_token.php
Due: none

Refactor out the Collection class
  service-api/module/Application/src/Controller/Version2/Lpa/ApplicationController.php
  service-api/module/Application/src/Model/Service/Applications/Collection.php
  service-api/module/Application/src/Model/Service/Applications/Service.php
  service-api/module/Application/tests/Controller/Version2/Lpa/ApplicationControllerTest.php
  service-api/module/Application/tests/Model/Service/Applications/CollectionTest.php
  service-api/module/Application/tests/Model/Service/Applications/ServiceTest.php
Due: php-cbf (api)

created translator class helper for vendor files to pick up and use addressed phpunit test fails due to php 8.4
  service-front/composer.json
  service-front/module/Application/src/ControllerFactory/ControllerAbstractFactory.php
  service-front/module/Application/src/Form/View/Helper/FormMultiCheckbox.php
  service-front/module/Application/src/Form/View/Helper/FormRadio.php
  service-front/module/Application/src/Model/FormFlowChecker.php
  service-front/module/Application/src/Model/Service/AddressLookup/OrdnanceSurveyFactory.php
  service-front/module/Application/src/Model/Service/ApiClient/Client.php
  service-front/module/Application/src/Model/Service/ApiClient/ClientFactory.php
  service-front/module/Application/src/Model/Service/ApiClient/Exception/ApiException.php
  service-front/module/Application/src/Model/Service/Authentication/AuthenticationService.php
  service-front/module/Application/src/Model/Service/Authentication/AuthenticationServiceFactory.php
  service-front/module/Application/src/Model/Service/Lpa/Application.php
  service-front/module/Application/src/Model/Service/Mail/Transport/MailTransportFactory.php
  service-front/module/Application/src/Model/Service/Session/SessionFactory.php
  service-front/module/Application/src/Model/Service/Session/SessionManager.php
  service-front/module/Application/src/View/Helper/Accordion.php
  service-front/module/Application/src/View/Helper/AccordionFactory.php
  service-front/module/Application/src/View/Helper/AccountInfoFactory.php
  service-front/module/Application/src/View/Helper/RouteNameFactory.php
  service-front/module/Application/src/View/Helper/SystemMessageFactory.php
  service-front/module/Application/src/View/Helper/Translator/AbstractTranslatorHelper.php
  service-front/module/Application/src/View/Translator/TranslatorAwareInterface.php
  service-front/module/Application/src/View/Translator/TranslatorInterface.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/CheckoutControllerTest.php
Due: php-cbf (front)

testing fee changing
  docker-compose.yml
  terraform/environment/modules/environment/ecs_api.tf
  terraform/environment/modules/environment/ecs_front.tf
Due: none

fixed breaking phpunit tests
  service-admin/src/App/src/Validator/Email.php
  service-front/composer.json
  service-front/module/Application/src/View/Helper/AbstractTranslatorHelper.php
Due: php-cbf (admin), php-cbf (front)

build env with postgresql 13
  terraform/environment/terraform.tfvars.json
Due: none

use pg14
  build_trigger
  terraform/environment/terraform.tfvars.json
Due: none

trigger another build
  build_trigger
Due: none

refactor parameter groups to be resources passed into the module to make major version upgrades easier
  terraform/environment/modules/environment/modules/aurora/main.tf
  terraform/environment/modules/environment/modules/aurora/variables.tf
  terraform/environment/modules/environment/rds.tf
  terraform/environment/modules/environment/rds_parameter_groups.tf
  terraform/environment/refactor.tf
Due: none

fix typo
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

add runbook for blue green deployment
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

fixed breaking phpunit tests
  service-admin/src/App/src/Handler/UserSearchHandler.php
  service-admin/src/App/src/Validator/Email.php
  service-admin/test/AppTest/Validator/EmailTest.php
Due: php-cbf (admin)

updated fee date for uat
  service-api/config/autoload/global.php
  service-front/config/autoload/global.php
  service-front/module/Application/src/Model/Service/Guidance/Guidance.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/CheckoutControllerTest.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/SummaryControllerTest.php
  service-front/module/Application/tests/Controller/General/HomeControllerTest.php
  service-pdf/src/Opg/Lpa/Pdf/AbstractIndividualPdf.php
  service-pdf/src/Opg/Lpa/Pdf/AbstractLp1.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lp1fTest.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lpa120Test.php
  shared/module/MakeShared/tests/DataModel/Lpa/Payment/CalculatorTest.php
Due: php-cbf (api), php-cbf (front)

LPAL-1547: Fix CSRF validation in admin service
  service-admin/src/App/src/Form/AbstractForm.php
  service-admin/src/App/src/Validator/Csrf.php
  service-admin/test/AppTest/Handler/UserFindHandlerTest.php
Due: php-cbf (admin)

fixed breaking tests
  service-front/module/Application/tests/Controller/Authenticated/Lpa/CheckoutControllerTest.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/RepeatApplicationControllerTest.php
  shared/module/MakeShared/src/DataModel/Lpa/Payment/Calculator.php
Due: php-cbf (front)

fixed breaking tests
  service-front/module/Application/tests/Controller/Authenticated/Lpa/RepeatApplicationControllerTest.php
Due: php-cbf (front)

fixed cypress tests
  cypress/e2e/FeeReductionPF.feature
Due: none

adjusted fee change in test
  cypress/e2e/CheckoutPF.feature
  cypress/e2e/CheckoutPaymentGateway.feature
  cypress/e2e/FeeReductionPF.feature
Due: none

adjusted fee change in test
  cypress/e2e/CheckoutHW.feature
  service-api/composer.lock
  service-front/content/guidance/Process_Fees_reductions_and_exemptions_PreNov25fee.md
Due: none

add delete cluster instructions
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

update instructions for switching
  build_trigger
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none
