Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*/package-lock.json"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
    - name: php-cbf (admin)
      id: php-cbf (admin)
      language: system
      entry: make dc-phpcs-fix-admin
      files: ^service-admin\/.+\.(php)$
    - name: php-cbf (api)
      id: php-cbf (api)
      language: system
      entry: make dc-phpcs-fix-api
      files: ^service-api\/.+\.(php)$
    - name: php-cbf (front)
      id: php-cbf (front)
      language: system
      entry: make dc-phpcs-fix-front
      files: ^service-front\/.+\.(php)$
    - name: php-cbf (php)
      id: php-cbf (php)
      language: system
      entry: make dc-phpcs-fix-php
      files: ^service-php\/.+\.(php)$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.36.0
    hooks:
    - id: eslint
      files: service-front/assets/js|cypress/e2e/common
      additional_dependencies:
      -   eslint@8.24.0
      -   eslint-plugin-prettier@v4.2.1
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.32.7
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-imports # replaces go-fmt
      - id: go-mod-tidy

remove weekly refresh job altogether
  .github/workflows/workflow_weekly_refresh.yml
Due: none

security groups on aroura
  terraform/environment/modules/environment/ecs_api.tf
  terraform/environment/modules/environment/rds.tf
Due: none

add latest and semver only tags on path to live
  .github/workflows/docker_job.yml
Due: none

use digest of tag in ecs task definitions
  terraform/environment/modules/environment/ecs_admin.tf
  terraform/environment/modules/environment/ecs_api.tf
  terraform/environment/modules/environment/ecs_front.tf
  terraform/environment/modules/environment/ecs_pdf.tf
  terraform/environment/modules/environment/ecs_seeding.tf
Due: none

use correct provider for images
  terraform/environment/modules/environment/ecs_api.tf
  terraform/environment/modules/environment/ecs_front.tf
  terraform/environment/modules/environment/ecs_pdf.tf
  terraform/environment/modules/environment/ecs_seeding.tf
Due: none

use correct provider for images
  terraform/environment/modules/environment/ecs_admin.tf
Due: none

LPAL-1566: Remove "engines" from NPM config
  .nvmrc
  service-front/package-lock.json
  service-front/package.json
Due: none

Update readme for current state of app.
  README.md
Due: none

LPAL-1563 Log full error messages in laminas-mvc apps
  service-api/module/Application/src/Module.php
  service-front/module/Application/src/Module.php
Due: php-cbf (api), php-cbf (front)

Stop including response bodies in error messages
  service-admin/src/App/src/Service/ApiClient/ApiException.php
  service-front/module/Alphagov/Pay/src/Client.php
  service-front/module/Application/src/Model/Service/ApiClient/Exception/ApiException.php
Due: php-cbf (admin), php-cbf (front)

Docker lint issues
  aurora-scheduler/docker/Dockerfile
  service-admin/docker/app/Dockerfile
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
  service-pdf/docker/app/Dockerfile
  service-seeding/docker/app/Dockerfile
Due: none

Use JSON formatter for logs
  service-admin/src/App/src/Logging/LoggerTrait.php
  service-api/config/autoload/logging.global.php
  service-front/config/autoload/logging.global.php
  service-front/module/Application/src/Controller/AbstractAuthenticatedController.php
  service-front/module/Application/tests/Controller/AbstractLpaControllerTest.php
  service-pdf/src/Opg/Lpa/Pdf/Traits/LoggerTrait.php
  shared/module/MakeShared/src/Logging/LoggerFactory.php
  shared/module/MakeShared/src/Logging/OpgJsonFormatter.php
  shared/module/MakeShared/tests/Logging/OpgJsonFormatterTest.php
Due: php-cbf (admin), php-cbf (api), php-cbf (front)

LPAL-1567 Remove ErrorEventListener and MvcEventProcessor
  service-api/config/application.config.php
  service-front/module/Application/config/module.config.php
  service-front/module/Application/src/Module.php
  service-front/module/Application/tests/Logging/ErrorEventListenerTest.php
  service-front/module/Application/tests/Logging/MvcEventProcessorTest.php
  shared/module/MakeShared/src/Factories/ListenerAbstractFactory.php
  shared/module/MakeShared/src/Logging/ErrorEventListener.php
  shared/module/MakeShared/src/Logging/LoggerFactory.php
  shared/module/MakeShared/src/Logging/MvcEventProcessor.php
Due: php-cbf (api), php-cbf (front)

LPAL-1542 moved session manager to seperate class
  .secrets.baseline
  service-front/module/Application/src/Controller/AbstractAuthenticatedController.php
  service-front/module/Application/src/Controller/AbstractBaseController.php
  service-front/module/Application/src/Controller/AbstractLpaController.php
  service-front/module/Application/src/Controller/General/AuthController.php
  service-front/module/Application/src/Controller/General/ForgotPasswordController.php
  service-front/module/Application/src/Controller/General/RegisterController.php
  service-front/module/Application/src/Controller/General/VerifyEmailAddressController.php
  service-front/module/Application/src/ControllerFactory/ControllerAbstractFactory.php
  service-front/module/Application/src/Model/Service/Session/SessionFactory.php
  service-front/module/Application/src/Model/Service/Session/SessionManager.php
  service-front/module/Application/src/Model/Service/Session/SessionManagerSupport.php
  service-front/module/Application/src/Module.php
  service-front/module/Application/tests/Controller/AbstractControllerTestCase.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/StatusControllerTest.php
  service-front/module/Application/tests/Controller/General/AuthControllerTest.php
  service-front/module/Application/tests/Controller/General/ForgotPasswordControllerTest.php
  service-front/module/Application/tests/Controller/General/RegisterControllerTest.php
  service-front/module/Application/tests/Controller/General/VerifyEmailAddressControllerTest.php
  service-front/module/Application/tests/ControllerFactory/ControllerAbstractFactoryTest.php
  service-front/module/Application/tests/Model/Service/Session/SessionFactoryTest.php
  service-front/module/Application/tests/Model/Service/Session/SessionManagerTest.php
Due: php-cbf (front)

LPAL-1542 updated factory and tests
  service-front/module/Application/src/Controller/Authenticated/Lpa/FeeReductionController.php
  service-front/module/Application/src/ControllerFactory/ControllerAbstractFactory.php
  service-front/module/Application/src/Module.php
  service-front/module/Application/tests/ControllerFactory/ControllerAbstractFactoryTest.php
Due: php-cbf (front)

LPAL-1542 updated construct
  service-front/module/Application/src/Controller/Authenticated/Lpa/FeeReductionController.php
Due: php-cbf (front)

LPAL-1581 Fix errors in FeedbackControllers
  service-api/module/Application/src/Controller/FeedbackController.php
  service-api/module/Application/src/ControllerFactory/FeedbackControllerFactory.php
  service-api/module/Application/tests/Controller/FeedbackControllerTest.php
  service-front/module/Application/src/Controller/General/FeedbackController.php
  service-front/module/Application/src/Model/Service/Feedback/Feedback.php
  service-front/module/Application/tests/Controller/General/FeedbackControllerTest.php
  service-front/module/Application/tests/Model/Service/Feedback/FeedbackTest.php
Due: php-cbf (api), php-cbf (front)

LPAL-1542 added readonly and made class final
  service-front/module/Application/src/Model/Service/Session/SessionManagerSupport.php
Due: php-cbf (front)

LPAL-1542 reverted change on making class final
  service-front/module/Application/src/Model/Service/Session/SessionManagerSupport.php
Due: php-cbf (front)
