Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*/package-lock.json"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
    - name: php-cbf (admin)
      id: php-cbf (admin)
      language: system
      entry: make dc-phpcs-fix-admin
      files: ^service-admin\/.+\.(php)$
    - name: php-cbf (api)
      id: php-cbf (api)
      language: system
      entry: make dc-phpcs-fix-api
      files: ^service-api\/.+\.(php)$
    - name: php-cbf (front)
      id: php-cbf (front)
      language: system
      entry: make dc-phpcs-fix-front
      files: ^service-front\/.+\.(php)$
    - name: php-cbf (php)
      id: php-cbf (php)
      language: system
      entry: make dc-phpcs-fix-php
      files: ^service-php\/.+\.(php)$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.36.0
    hooks:
    - id: eslint
      files: service-front/assets/js|cypress/e2e/common
      additional_dependencies:
      -   eslint@8.24.0
      -   eslint-plugin-prettier@v4.2.1
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.32.7
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-imports # replaces go-fmt
      - id: go-mod-tidy

add images to the docs
  docs/runbooks/aws_aurora/database_restore_procedure.md
  docs/runbooks/aws_aurora/images/db_restore_envrc_file_breakglass.png
  docs/runbooks/aws_aurora/images/db_restore_envrc_file_operator.png
  docs/runbooks/aws_aurora/images/db_restore_recovery_points.png
  docs/runbooks/aws_aurora/images/db_restore_restore_db_cluster_wizard.png
  docs/runbooks/aws_aurora/images/db_restore_restore_jobs.png
  docs/runbooks/aws_aurora/images/db_restore_restore_role.png
  docs/runbooks/aws_aurora/images/db_restore_view_of_aws_backups_landing_page.png
  docs/runbooks/aws_aurora/images/db_restore_view_of_vaults_table.png
  terraform/environment/.envrc
Due: none

reset db cluster name
  terraform/environment/terraform.tfvars.json
Due: none

remove unused imports
  docs/runbooks/aws_aurora/database_restore_procedure.md
Due: none

Update LPA-120 PDF
  service-pdf/assets/v2/LPA120.pdf
Due: none

adopt restored preprod cluster
  docs/runbooks/aws_aurora/database_restore_procedure.md
  terraform/environment/terraform.tfvars.json
Due: none

Update baseline PDF
  service-pdf/tests/visualdiffpdfs/1762866821.587-A510-7295-5715-Lpa120.pdf
Due: none

Remove infra for receiving emails
  .gitignore
  .secrets.baseline
  README.md
  cypress/activation_emails/README.md
  docker-compose.yml
  service-front/module/Application/tests/Model/Service/Mail/Transport/MailTransportFactoryTest.php
  terraform/email/.envrc
  terraform/email/.terraform-version
  terraform/email/.terraform.lock.hcl
  terraform/email/credentials.tf
  terraform/email/email.tf
  terraform/email/locals.tf
  terraform/email/terraform.tfvars.json
  terraform/email/versions.tf
  terraform/environment/modules/environment/ecs_front.tf
Due: php-cbf (front)

fix references to the clluster
  docs/runbooks/aws_aurora/database_restore_procedure.md
Due: none

LPAL-1381 prefer Mezzio\FlashMessages to Laminas\Mvc\FlashMessenger
  phpcs/docker/Dockerfile
  service-front/composer.json
  service-front/composer.lock
  service-front/config/autoload/flash.global.php
  service-front/module/Application/config/module.config.php
  service-front/module/Application/src/Controller/AbstractAuthenticatedController.php
  service-front/module/Application/src/Controller/AbstractBaseController.php
  service-front/module/Application/src/Controller/Authenticated/AboutYouController.php
  service-front/module/Application/src/Controller/Authenticated/ChangePasswordController.php
  service-front/module/Application/src/Controller/Authenticated/DashboardController.php
  service-front/module/Application/src/Controller/Authenticated/TypeController.php
  service-front/module/Application/src/Controller/General/AuthController.php
  service-front/module/Application/src/Controller/General/ForgotPasswordController.php
  service-front/module/Application/src/Controller/General/VerifyEmailAddressController.php
  service-front/module/Application/src/ControllerFactory/ControllerAbstractFactory.php
  service-front/module/Application/src/Flash/Flash.php
  service-front/module/Application/src/Flash/FlashMessagesFactory.php
  service-front/module/Application/src/Flash/FlashMiddleWareFactory.php
  service-front/module/Application/src/Model/Service/Session/SessionManagerSupport.php
  service-front/module/Application/view/layout/flash.twig
Due: php-cbf (front)

Added useful pre-commit hooks
  .pre-commit-config.yaml
Due: none

resolve pr comments
  .pre-commit-config.yaml
Due: none

stop using custom csrfvalidator (still uses deprecated laminas validator, but this stays for now)
  service-front/module/Application/src/Form/Element/CsrfBuilder.php
Due: php-cbf (front)

remove custom validator, remove associated tests and modify a related test
  service-front/module/Application/src/Form/Validator/Csrf.php
  service-front/module/Application/tests/Form/FormTestSetupTrait.php
  service-front/module/Application/tests/Form/Validator/CsrfTest.php
Due: php-cbf (front)

linux-headers is now needed for debug mode
  service-admin/docker/app/Dockerfile
Due: none

Update vpc_data_source allow-list version
  terraform/environment/modules/environment/vpc_data_sources.tf
Due: none

LPAL-1666 prefer fix to check
  Makefile
  phpcs/docker/Dockerfile
Due: none

use standard class not custom class WIP
  service-admin/src/App/src/Form/AbstractForm.php
Due: php-cbf (admin)

as result of going to base CSRFValidator, need to add laminas-session in to admin side
  service-admin/composer.json
  service-admin/composer.lock
Due: none

remove custom validator
  service-admin/src/App/src/Validator/Csrf.php
Due: php-cbf (admin)

Renovate configuration changes
  renovate.json
Due: none

remove capacity provider for pdf service
  terraform/environment/modules/environment/ecs_pdf.tf
Due: none

Revert "remove custom validator"
  service-admin/src/App/src/Validator/Csrf.php
Due: php-cbf (admin)
