Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*/package-lock.json"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
    - name: php-cbf (admin)
      id: php-cbf (admin)
      language: system
      entry: make dc-phpcs-fix-admin
      files: ^service-admin\/.+\.(php)$
    - name: php-cbf (api)
      id: php-cbf (api)
      language: system
      entry: make dc-phpcs-fix-api
      files: ^service-api\/.+\.(php)$
    - name: php-cbf (front)
      id: php-cbf (front)
      language: system
      entry: make dc-phpcs-fix-front
      files: ^service-front\/.+\.(php)$
    - name: php-cbf (php)
      id: php-cbf (php)
      language: system
      entry: make dc-phpcs-fix-php
      files: ^service-php\/.+\.(php)$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.36.0
    hooks:
    - id: eslint
      files: service-front/assets/js|cypress/e2e/common
      additional_dependencies:
      -   eslint@8.24.0
      -   eslint-plugin-prettier@v4.2.1
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.32.7
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-imports # replaces go-fmt
      - id: go-mod-tidy

update instructions for switching
  build_trigger
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

make preprod match prod
  terraform/environment/terraform.tfvars.json
Due: none

add iac changes
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

refactor parameter groups to select the correctone from tfvars
  terraform/environment/modules/environment/rds.tf
  terraform/environment/modules/environment/rds_parameter_groups.tf
Due: none

use name of parameter group
  terraform/environment/modules/environment/rds.tf
Due: none

refactor to use for_each and psql_parameter_group_family value
  terraform/environment/modules/environment/rds.tf
  terraform/environment/modules/environment/rds_parameter_groups.tf
  terraform/environment/refactor.tf
Due: none

simplify instructions
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

setting params
  service-admin/src/App/src/Handler/UserSearchHandler.php
Due: php-cbf (admin)

Update terraform/environment/modules/environment/modules/aurora/variables.tf
  terraform/environment/modules/environment/modules/aurora/variables.tf
Due: none

Update docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
  docs/runbooks/aws_aurora/major_version_upgrades_using_blue_green_deployments.md
Due: none

Update service-admin/src/App/src/Validator/Email.php
  service-admin/src/App/src/Validator/Email.php
Due: php-cbf (admin)

typo on path
  service-front/composer.json
Due: none

kept laminas i18n
  service-front/composer.json
  service-front/config/application.config.php
  service-front/module/Application/src/View/Helper/AbstractTranslatorHelper.php
  service-front/module/Application/src/View/Translator/TranslatorAwareInterface.php
  service-front/module/Application/src/View/Translator/TranslatorInterface.php
Due: php-cbf (front)

move db params
  terraform/environment/refactor.tf
Due: none

removed laminas mvc i18n
  service-front/composer.json
  service-front/composer.lock
  service-front/config/application.config.php
Due: php-cbf (front)

installed laminas i18n
  service-front/composer.json
  service-front/composer.lock
Due: none

LPAL-1504 ignore hadolint errors
  node-build-assets/docker/Dockerfile
  service-admin/docker/app/Dockerfile
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
  service-pdf/docker/app/Dockerfile
Due: none

LPAL-1551: Proof-of-concept
  service-front/module/Application/src/Model/Service/Lpa/Applicant.php
  service-front/module/Application/src/Model/Service/Lpa/Application.php
  service-front/module/Application/src/Model/Service/ServiceAbstractFactory.php
  service-front/module/Application/src/Module.php
  service-front/module/Application/tests/Model/Service/Lpa/ApplicantTest.php
  service-front/module/Application/tests/Model/Service/Lpa/ApplicationTest.php
Due: php-cbf (front)

create shared paramater groups
  terraform/account/rds_parameter_groups.tf
  terraform/environment/modules/environment/rds_parameter_groups.tf
Due: none

create shared paramater groups
  terraform/environment/modules/environment/rds_parameter_groups.tf
Due: none

don't add data sources in this PR
  terraform/environment/modules/environment/rds_parameter_groups.tf
Due: none

LPAL-1480 bump api PHP to 8.4
  .github/workflows/analysis-psalm.yml
  .github/workflows/phpunit.yml
  service-admin/docker/app/Dockerfile
  service-api/composer.json
  service-api/composer.lock
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Due: none
