Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".*/package-lock.json"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
         - --args=--recursive
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
    - name: php-cbf (admin)
      id: php-cbf (admin)
      language: system
      entry: make dc-phpcs-fix-admin
      files: ^service-admin\/.+\.(php)$
    - name: php-cbf (api)
      id: php-cbf (api)
      language: system
      entry: make dc-phpcs-fix-api
      files: ^service-api\/.+\.(php)$
    - name: php-cbf (front)
      id: php-cbf (front)
      language: system
      entry: make dc-phpcs-fix-front
      files: ^service-front\/.+\.(php)$
    - name: php-cbf (php)
      id: php-cbf (php)
      language: system
      entry: make dc-phpcs-fix-php
      files: ^service-php\/.+\.(php)$
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.36.0
    hooks:
    - id: eslint
      files: service-front/assets/js|cypress/e2e/common
      additional_dependencies:
      -   eslint@8.24.0
      -   eslint-plugin-prettier@v4.2.1
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.32.7
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-imports # replaces go-fmt
      - id: go-mod-tidy

Update service-pdf/docker/app/Dockerfile
  service-pdf/docker/app/Dockerfile
Due: none

Node point and alpine version bump
  .nvmrc
  .tool-versions
  node-build-assets/docker/Dockerfile
  service-front/.tool-versions
Due: none

Update .nvmrc and tool versions files
  .nvmrc
  service-front/.tool-versions
Due: none

replace deprecated class
  service-front/module/Application/src/Form/Validator/Csrf.php
Due: php-cbf (front)

replace deprecated class in service-admin
  service-admin/composer.json
  service-admin/composer.lock
  service-admin/src/App/src/Validator/Csrf.php
Due: php-cbf (admin)

use bind mounts and non-privileged ports
  service-admin/docker/app/Dockerfile
  service-admin/docker/web/Dockerfile
  terraform/environment/modules/environment/ecs_admin.tf
Due: none

use shorter timeouts for outside of production
  terraform/environment/modules/environment/ecs_admin.tf
Due: none

remove permissions container from task definition
  terraform/environment/modules/environment/ecs_admin.tf
Due: none

configure nginx to listen on port 8080
  service-admin/docker/web/etc/nginx/templates/default.conf.template
Due: none

update fargate platform for scheduled ECS tasks
  terraform/environment/modules/environment/ecs_api_cron.tf
Due: none

LPAL-1591 replace @cypress/browserify-preprocessor with @bahmutov/cypress-esbuild-preprocessor
  .idea/opg-lpa.iml
  .idea/php.xml
  .idea/phpunit.xml
  .pre-commit-config.yaml
  Makefile
  cypress.config.js
  cypress/e2e/common/admin.js
  cypress/support/e2e.js
  package-lock.json
  package.json
Due: none

LPAL-1596: Use fixed activation token in tests
  .github/workflows/cypress_tests.yml
  .github/workflows/locust_tests.yml
  .secrets.baseline
  Makefile
  cypress/cypress_runner.py
  cypress/e2e/common/activation_email.js
  cypress/s3_monitor.py
  docker-compose.yml
  service-api/config/autoload/global.php
  service-api/module/Application/src/Model/Service/Password/Service.php
  service-api/module/Application/src/Model/Service/ServiceAbstractFactory.php
  service-api/module/Application/src/Model/Service/TokenGenerationTrait.php
  service-api/module/Application/src/Model/Service/Users/Service.php
  service-api/module/Application/tests/Model/Service/Password/ServiceTest.php
  service-api/module/Application/tests/Model/Service/ServiceAbstractFactoryTest.php
  service-api/module/Application/tests/Model/Service/Users/ServiceTest.php
  terraform/environment/modules/environment/ecs_api.tf
Due: php-cbf (api)

Use predictable activation tokens in preproduction too
  service-api/config/autoload/global.php
  terraform/environment/modules/environment/ecs_api.tf
Due: php-cbf (api)

Replace crypto with jssha
  cypress/e2e/common/activation_email.js
  package-lock.json
  package.json
Due: none

LPAL-1390 mezzio session handling poc
  service-admin/src/App/src/Handler/SignInHandler.php
  service-front/composer.json
  service-front/composer.lock
  service-front/module/Application/src/Model/Service/Session/JwtStore.php
  service-front/module/Application/src/Model/Service/Session/NativeSessionConfig.php
  service-front/module/Application/src/Model/Service/Session/WritePolicy.php
  service-front/module/Application/src/Module.php
  service-front/module/Application/tests/Model/Service/Session/FakeSaveHandler.php
  service-front/module/Application/tests/Model/Service/Session/InMemorySession.php
  service-front/module/Application/tests/Model/Service/Session/JwtStoreTest.php
  service-front/module/Application/tests/Model/Service/Session/NativeSessionConfigTest.php
Due: php-cbf (admin), php-cbf (front)

LPAL-1596 Rename 'auth' config key to 'authentication_tokens'
  service-api/config/autoload/global.php
  service-api/module/Application/src/Model/Service/ServiceAbstractFactory.php
  service-api/module/Application/tests/Model/Service/ServiceAbstractFactoryTest.php
Due: php-cbf (api)

Remove infra for receiving emails
  .github/workflows/workflow_pr.yml
  .gitignore
  .secrets.baseline
  README.md
  cypress/activation_emails/README.md
  docker-compose.yml
  service-front/module/Application/tests/Model/Service/Mail/Transport/MailTransportFactoryTest.php
  terraform/email/.envrc
  terraform/email/.terraform-version
  terraform/email/.terraform.lock.hcl
  terraform/email/credentials.tf
  terraform/email/email.tf
  terraform/email/locals.tf
  terraform/email/terraform.tfvars.json
  terraform/email/versions.tf
  terraform/environment/modules/environment/ecs_front.tf
Due: php-cbf (front)

LPAL-1649 Fix failing fee-related unit tests
  service-front/module/Application/tests/Controller/Authenticated/Lpa/CheckoutControllerTest.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/RepeatApplicationControllerTest.php
Due: php-cbf (front)

LPAL-1649 Update baseline LP1F PDF
  service-pdf/tests/visualdiffpdfs/1762447614.1819-A510-7295-5715-Lp1f.pdf
Due: none

LPAL-1649 Fix cypress tests
  cypress/e2e/CheckoutHW.feature
  cypress/e2e/CheckoutPF.feature
  cypress/e2e/CheckoutPaymentGateway.feature
  cypress/e2e/FeeReductionPF.feature
  service-front/content/guidance/Process_Fees_reductions_and_exemptions_PreNov25fee.md
Due: none

first change of nov 17 related removals
  service-front/content/guidance/Process_Fees_reductions_and_exemptions_PreNov25fee.md
  service-front/content/guidance/orderPreNov25fee.md
Due: none
