Repository ministryofjustice/opg-lpa: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cbf (admin), php-cbf (api), php-cbf (front), php-cbf (php)

php-cbf (admin):
  name: php-cbf (admin)
  language: system
  entry: make dc-phpcs-fix-admin

php-cbf (api):
  name: php-cbf (api)
  language: system
  entry: make dc-phpcs-fix-api

php-cbf (front):
  name: php-cbf (front)
  language: system
  entry: make dc-phpcs-fix-front

php-cbf (php):
  name: php-cbf (php)
  language: system
  entry: make dc-phpcs-fix-php

first change of nov 17 related removals
  service-front/content/guidance/Process_Fees_reductions_and_exemptions_PreNov25fee.md
  service-front/content/guidance/orderPreNov25fee.md
Due: none

WIP fee change logic removal
  service-front/module/Application/src/Model/Service/Guidance/Guidance.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/CheckoutControllerTest.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/RepeatApplicationControllerTest.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/SummaryControllerTest.php
  service-front/module/Application/tests/Controller/General/HomeControllerTest.php
  service-pdf/1762866821.587-A510-7295-5715-Lpa120.pdf
  service-pdf/after.png
  service-pdf/before.png
  service-pdf/src/Opg/Lpa/Pdf/AbstractIndividualPdf.php
  service-pdf/src/Opg/Lpa/Pdf/AbstractLp1.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lp1fTest.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lpa120Test.php
  shared/module/MakeShared/src/DataModel/Lpa/Payment/Calculator.php
  shared/module/MakeShared/tests/DataModel/Lpa/Payment/CalculatorTest.php
Due: php-cbf (front)

remove png files from tests, from git
  .gitignore
  service-pdf/after.png
  service-pdf/before.png
Due: none

fix
  shared/module/MakeShared/src/DataModel/Lpa/Payment/Calculator.php
Due: none

fixes
  service-front/module/Application/src/Model/Service/Guidance/Guidance.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/CheckoutControllerTest.php
  service-front/module/Application/tests/Controller/Authenticated/Lpa/SummaryControllerTest.php
  service-front/module/Application/tests/Controller/General/HomeControllerTest.php
  service-pdf/src/Opg/Lpa/Pdf/AbstractIndividualPdf.php
  service-pdf/src/Opg/Lpa/Pdf/AbstractLp1.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lp1fTest.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lpa120Test.php
  shared/module/MakeShared/src/DataModel/Lpa/Payment/Calculator.php
  shared/module/MakeShared/tests/DataModel/Lpa/Payment/CalculatorTest.php
Due: php-cbf (front)

fixes
  service-front/module/Application/tests/Controller/Authenticated/Lpa/RepeatApplicationControllerTest.php
  shared/module/MakeShared/src/DataModel/Lpa/Payment/Calculator.php
Due: php-cbf (front)

fixes
  service-pdf/src/Opg/Lpa/Pdf/Lp1f.php
  service-pdf/src/Opg/Lpa/Pdf/Lp1h.php
  service-pdf/src/Opg/Lpa/Pdf/Lpa120.php
Due: none

fixes/removals
  service-api/config/autoload/global.php
  service-api/module/Application/src/Module.php
  service-front/config/autoload/global.php
  terraform/environment/modules/environment/ecs_api.tf
  terraform/environment/modules/environment/ecs_front.tf
Due: php-cbf (api), php-cbf (front)

fix psalm and remove obsolete files
  service-api/module/Application/src/Module.php
  service-pdf/assets/v2/LPA120.pdf
  service-pdf/tests/visualdiffpdfs/1762449985.0974-A510-7295-5715-Lpa120.pdf
Due: php-cbf (api)

remove obsolete files
  service-pdf/assets/v2/LP1F_CoversheetRegistration.pdf
  service-pdf/assets/v2/LP1H_CoversheetRegistration.pdf
Due: none

renamed coversheet back to original name, psalm fix
  service-front/module/Application/src/Module.php
  service-pdf/assets/v2/LP1F_CoversheetRegistration.pdf
  service-pdf/src/Opg/Lpa/Pdf/Lp1f.php
  service-pdf/src/Opg/Lpa/Pdf/Lp1h.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lp1fTest.php
Due: php-cbf (front)

rename LPA120 back to original filename
  service-pdf/assets/v2/LPA120.pdf
  service-pdf/src/Opg/Lpa/Pdf/Lpa120.php
  service-pdf/tests/OpgTest/Lpa/Pdf/Lpa120Test.php
Due: none

back to old filename
  service-pdf/assets/v2/LP1H_CoversheetRegistration.pdf
Due: none

remove test file
  service-pdf/1762866821.587-A510-7295-5715-Lpa120.pdf
Due: none

ignore pdfs generated during tests
  .gitignore
Due: none

use bind mounts for /tmp
  service-pdf/docker/app/Dockerfile
  terraform/environment/modules/environment/ecs_pdf.tf
Due: none

recursive chown
  service-front/docker/app/Dockerfile
Due: none

recursive chown
  service-front/docker/app/Dockerfile
  service-pdf/docker/app/Dockerfile
Due: none

fix terraform
  terraform/environment/modules/environment/ecs_api.tf
  terraform/environment/modules/environment/ecs_front.tf
Due: none

set launch type
  terraform/environment/modules/environment/ecs_pdf.tf
Due: none

LPAL-1596 Remove email bucket Terraform resources
  terraform/email/email.tf
Due: none

LPAL-1596 Stop pushing email infra when deploying PRs
  .github/workflows/workflow_pr.yml
Due: none

LPAL-1580 prefer GDS Transport to nta
  .github/workflows/workflow_pr.yml
  service-admin/src/App/templates/layout/default.phtml
  service-front/.gitignore
  service-front/Gruntfile.js
  service-front/assets/sass/download-message.scss
  service-front/assets/sass/settings/_variables.scss
  service-front/module/Application/view/layout/download.twig
  service-front/module/Application/view/layout/downloading.twig
  service-front/module/Application/view/layout/layout.twig
Due: none

Path conditions:
  php-cbf (admin): any of: ^service-admin\/.+\.(php)$
  php-cbf (api): any of: ^service-api\/.+\.(php)$
  php-cbf (front): any of: ^service-front\/.+\.(php)$
  php-cbf (php): any of: ^service-php\/.+\.(php)$
